Config(
	layout: a4paper,
	landscape: true,
	lmargin: "2mm", // left margin
	rmargin: "2mm", // right margin
	tmargin: "16mm", // top margin
	bmargin: "2mm", // bottom marin
	title: "ICPC Notebook",
	author: "Me",
	ncols: 3,         // number of columns for code
	ncolstoc: 4,      // number of columns for table of contents
	columnsep: "2mm", // columns separation
	separatetoc: true, // wether to put the table of contents on a separate page
	fontsize: "10pt",
	// minted options:
	tabsize: 2,
	linenos: false,
	numbersep: "1mm",        // numbers distance
	mathescape: true,      // use math in comments
	autogobble: true,      // remove unecessary whitespace
	showspaces: false,      // render spaces with another character
	showtabs: false,        // render tabs with another character
	breaklines: true,      // allow linebreaks
	breakanywhere: true,   // allow linebreaks anywhere
	breakautoindent: false, // indent broken lines
	fontfamily: "tt",
	frame: single,  //none,leftline,topline,bottomline,lines,single
	framestep: "1mm",    // distance between frame and content in
	framerule: "0.2pt", // frame thickness
	style: "fancy",     // pygment style
)

